html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #F3F5FC;
}

header {
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin: 0 5%;
    padding-top: 2em;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center safe;
    width: 80%;
    margin: 0 auto;
}

.campo-de-entrada {
    width: 65%;
    height: 500px;
    padding: 0 auto;
    margin: 0 5%;
}

#entrada-do-texto {
    margin: 5% 15% 5% 0;
    padding-right: 1.5em;
    width: 100%;
    height: 65%;
    border: none;
    background: none;
    font-family: 'Inter';
    font-size: 2em;
    font-weight: 400;
    color: #0A3871;
}

.info {
    display: flex;
    font-family: 'Inter';
    font-weight: 400;
    color: #495057;
    font-size: 0.75em;
    padding-bottom: 1em;
}

.botoes-de-entrada {
    display: flex-wrap;
    position: relative;
    vertical-align: baseline;
    margin: 0 auto;
}

.botao-criptografar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    width: 50%;
    max-width: 20em;
    min-width: 9em;
    padding: 1em;
    margin-bottom: 2px;
    background: #0A3871;
    border-radius: 24px;
    border: 2px solid #0A3871;
}

.botao-criptografar:hover {
    color:lightgray;
}


.botao-descriptografar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #0A3871;
    text-align: center;
    width: 50%;
    max-width: 20em;
    min-width: 9em;
    padding: 1em;
    margin-bottom: 2px;
    border-radius: 24px;
    background: none;
    border: 2px solid #0A3871;
}

.botao-descriptografar:hover {
    background: #CCD5E0;
}

.campo-de-saida {
    width: 30%;
    height: 440px;
    margin-bottom: 5%;
    padding: 1em;
}

#caixa {
    height: 100%;
    width: 260px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 1em;
}

#imagem-msg {
    width: 90%;
    height: auto;
    margin: 20% auto;
}

h5 {
    font-family: 'Inter';
    font-size: 1.2em;
    font-weight: 700;
    color: #343A40;
    text-align: center;
    margin-bottom: 0.5em;
}

#mensagem {
    width: 98%;
    height: 82%;
    margin: 0 auto;
}

#resultado {
    width: 98%;
    height: 94%;
    margin: 0 auto;
    border: none;
    font-family: 'Inter';
    font-size: 1.5em;
    font-weight: 400;
    color: #495057;
}

h6 {
    font-family: 'Inter';
    font-size: 1em;
    font-weight: 400;
    color: #495057;
    text-align: center;
}

#botao-copiar {
    box-sizing: border-box;
    padding: 1em;
    margin: 6% auto;
    width: 100%;
    border: 2px solid #0A3871;
    border-radius: 24px;
    background: #FFFFFF;
    font-family: 'Inter';
    font-size: 1em;
    font-weight: 400;
    color: #0A3871;
    text-align: center;
}

#botao-copiar:hover {
    background: #EFF2F5;
}

textarea[name=texto-de-entrada], textarea[name=texto-de-saida] {
  resize: none;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    color: #0A3871;
}

.invisivel {
    display: none;
}

footer {
    display: inline-block;
    margin-top: auto;
    width: 100%;
    min-width: 100%;
}

#linha-horizontal {
    border-top: 1px solid #0A3871;
}

.copyright {
    text-align: center;
    color: #000000;
    font-size: 13px;
    margin: 10px 0;
}

#link-footer {
    text-decoration: none;
    color: #0A3871;
}

@media screen and (max-width: 480px) {
    main {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center safe;
        flex-direction: column;
    }

    header {
        margin-bottom: 5%;
    }

    .campo-de-entrada {
        width: 90%;
        margin: 5% auto;        
    }

    #entrada-do-texto, #caixa {
        width: 90%;
        margin: 0 auto;
        padding: 0.3em;
    }

    .info {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .botoes-de-entrada {
        display: flex;
        flex-direction: column;
        justify-content: safe center;
    }

    .botao-criptografar, .botao-descriptografar {
        width: 90%;
        margin: 0.3em auto;
    }

    .campo-de-saida, #imagem-msg {
        width: 90%;
        margin: 1em auto;
    }

    footer {
        margin-top: 1em;
    }

    footer p {
        padding: 0.3em;
    }

}