body {
    background-color: #E5E5E5;
}

.invisivel {
    display: none;
}

#linha-horizontal {
    width: auto;
    border: 1px solid #0A3871;
}

.copyright {
    text-align: center;
    color: #000000;
    font-size: 13px;
    margin: 20px 0 0;
}

#link-footer {
    text-decoration: none;
    color: #0A3871;
}